In [11]:
A = [5, 4, 3, 2, 1]
A.sort()
A

[1, 2, 3, 4, 5]

In [12]:
A = A[::-1]
A

[5, 4, 3, 2, 1]

In [14]:
sum(A)

15

In [16]:
import numpy as np
A = [1, 2, 3, 4, 5, 6, 7, 8]
%timeit sum(A)
%timeit np.sum(A)

238 ns ± 5.03 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
8.19 µs ± 90.1 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [27]:
import pandas as pd
A = {'Abrar':22, 'Jahangeer':20, 'Afsa':18, 'Mahpara':15, 'Mahbano':13}
B = pd.Series(A)
B

Abrar        22
Jahangeer    20
Afsa         18
Mahpara      15
Mahbano      13
dtype: int64

In [3]:
import pandas as pd
df = pd.read_excel('C:/Users/36202/Desktop/File.xlsx')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:

df.shape

(800, 12)

In [5]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Squaring Each Item of a List in different ways

### Using a For Loop

In [44]:
a = []
for i in range(1, 6):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25]

### Using List Comprehension

In [49]:
a = [i**2 for i in range(1, 6)]
a

[1, 4, 9, 16, 25]

In [50]:
import math
a = [math.pow(i, 2) for i in range(1, 6)]
a

[1.0, 4.0, 9.0, 16.0, 25.0]

### Using Numpy

In [23]:
import numpy as np
a = (np.arange(1,6))**2
a

array([ 1,  4,  9, 16, 25], dtype=int32)

### Using Lambda

In [18]:
a = [1, 2, 3, 4, 5]
b = []
c = lambda n:n**2
for n in a:
    b.append(c(n))
b

[1, 4, 9, 16, 25]

### Using Map

In [25]:
a = [1, 2, 3, 4, 5]
b = list(map(lambda n:n**2, a))
b

[1, 4, 9, 16, 25]

### ---------------****---------------

### Adding Two Lists Using Map

In [33]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = list(map(lambda n1,n2:n1+n2, a, b))
c

[7, 9, 11, 13, 15]

### Printing Even Numbers Using List

In [41]:
a = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
b = list(filter(lambda n:n%2==0, a))
b

[102, 104, 106, 108, 110]

### Squaring Numbers if they are Even

In [51]:
a = [i**2 for i in range(1, 11) if i%2==0]
a

[4, 16, 36, 64, 100]

### List Comprehension

In [54]:
a = ('Abrar', 'Haris')
b = ('Ayan', 'Arman')
c = [(x, y) for x in a for y in b]
print(c)

[('Abrar', 'Ayan'), ('Abrar', 'Arman'), ('Haris', 'Ayan'), ('Haris', 'Arman')]

### Set Comprehension

In [55]:
a = "abrarahmed"
b = {i for i in a}
b

{'a', 'b', 'd', 'e', 'h', 'm', 'r'}

### Dictionary Comprehension

In [56]:
a = [1, 2, 3, 4, 5]
b = {i:i**2 for i in a}
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Concatinating Two Tuples

In [2]:
a = (1, 2, 3, 4, 5)
b = (6, 7, 8, 9, 10)
c = a +  b
c

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Concatinating Two Lists

In [3]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = a +  b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Slice Operator

### Printing the First two Elements

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a[:2]

[1, 2]

## Printing the Last two Elements

In [10]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a[7:]

[8, 9]